<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shivam.designproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:label="Main Page"/>
        <activity android:name=".SettingActivity"
            android:label="General Settings"/>
        <activity android:name=".CommandsActivity"
            android:label="My Commands"/>
        <activity android:name=".WorkingActivity"
            android:label="How It Works "/>
        <activity android:name=".AboutUs"
            android:label="About Us"/>
        <activity android:name=".GuideActivity"
            android:label="Step By Step Guide">
        </activity>
    </application>

</manifest>